.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

env.js
build

# Cordova-specific directories
platforms
plugins
res/ios
res/android
res/windows
res/blackberry10

lerna-debug.log