@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-Thin.ttf');
   font-weight: 100;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-ExtraLight.ttf'); 
   font-weight: 200;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-Light.ttf'); 
   font-weight: 300;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-Regular.ttf'); 
   font-weight: 400;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-Medium.ttf'); 
   font-weight: 500;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-SemiBold.ttf');
   font-weight: 600; 
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-Bold.ttf'); 
   font-weight: 700;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-ExtraBold.ttf'); 
   font-weight: 800;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./fonts/WorkSans-Black.ttf'); 
   font-weight: 900;
}