@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-Thin.ttf');
   font-weight: 100;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-ExtraLight.ttf'); 
   font-weight: 200;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-Light.ttf'); 
   font-weight: 300;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-Regular.ttf'); 
   font-weight: 400;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-Medium.ttf'); 
   font-weight: 500;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-SemiBold.ttf');
   font-weight: 600; 
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-Bold.ttf'); 
   font-weight: 700;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-ExtraBold.ttf'); 
   font-weight: 800;
}
@font-face { 
  font-family: 'Work Sans'; 
  src: url('./WorkSans-Black.ttf'); 
   font-weight: 900;
}